.QRCode {
    width: 450px;
    height: 450px;
}

.QRCodeLayout {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-content: center;
}

.title {
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
        '微软雅黑', Arial, sans-serif;
    font-size: 20px;
    line-height: 28;
}
